
@{
    ViewData["Title"] = "Add";
}
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
<h1>Add</h1>
<div ng-app="App" ng-controller="hah2">

    <table class="table table-bordered">
        <tr>
            <td>姓名：</td>
            <td><input id="Text1" type="text" ng-model="name" /></td>
        </tr>
        <tr>
            <td>年龄：</td>
            <td><input id="Text1" type="text" ng-model="age" /></td>
        </tr>
        <tr>
            <td>性别：</td>
            <td><input id="Text1" type="text" ng-model="sex" /></td>
        </tr>
        <tr>
            <td><input id="Button1" type="button" value="取消" /></td>
            <td><input id="Button1" type="button" value="确定" ng-click="Add()" /></td>
        </tr>
    </table>
</div>
@section scripts{
<script>
    var app = angular.module('App', []);
    app.controller('hah2', function ($scope, $http) {

        $scope.Add = function () {
            $http.get('https://localhost:44343/api/HPC/Add', {
                params: {
                    name: $scope.name,
                    age: $scope.age,
                    sex: $scope.sex
                }
            }).then(function (i) {
                i = parseInt(i.data);
                if (i > 0) {
                    alert('添加成功！！');
                    location.href = 'https://localhost:44332/HPCController1/Show';
                }
                else {
                    alert('添加失败！！');
                }
            })
        }
    })
</script>
    

}

