
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>回收站</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/layui-v2.5.6/layui/layui.js"></script>
    <script src="~/angular-1.5.8/angular.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
    <script src="https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src="https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
    <script>
        //文档加载函数
        $(function () {

        })

        //去首页
        function GoIndex() {
            location.href = "/WD/Index";
        }
    </script>
</head>
<body>
    <h2 style="text-align:center">回收站</h2>
    <br />
    <br />
    <div class="layui-form" style="float:left;width:70%;margin-left:200px">
        <span>
            <input type="button" value="返回首页" class="btn btn-outline-primary" onclick="GoIndex()" style="float:right" />
        </span>
    </div>
    <br />
    <br />
</body>
</html>
