
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>员工修改</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/layui-v2.5.6/layui/layui.js"></script>
    <script src="~/angular-1.5.8/angular.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
    <script src="https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src="https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
    <script>
        //文档加载函数
        $(function () {
            //获取ID
            var wId = this.location.search.split("=")[1];
            //给隐藏框赋值随取随用
            $("#txtWId").val(wId);
            //反填
            DataReverse(wId);
        })

        layui.use('form', function () {
            var form = layui.form;
            form.render('select'); 
        });

        //去首页
        function GoIndex() {
            location.href = "/WD/Index";
        }

        function DataReverse(wId) {
            $.ajax({
                url: 'https://localhost:44343/api/GetWorkandDepsByWId',
                type: 'get',
                dataType: 'json',
                data: { WId: wId },
                success: function (data) {
                    //$("#Sel_DId").select.value(data[0].dId);
                    $("#Sel_DId").get(0).selectedIndex = data[0].dId;
                    $("#txt_WName").val(data[0].wName);
                    $("#txt_WAge").val(data[0].wAge);
                    layui.use('form', function () {
                        var form = layui.form;
                        form.render('select');
                    });
                }
            })
        }

        function Upt() {
            var wId = $("#txtWId").val();
            var dId = document.getElementById("Sel_DId").value;
            var wName = $("#txt_WName").val();
            var wAge = $("#txt_WAge").val();
            $.ajax({
                url: 'https://localhost:44343/api/UptWorks',
                type: 'get',
                dataType: 'json',
                data: { WId: wId, DId: dId, WName: wName, WAge: wAge },
                success: function (data) {
                    if (data > 0) {
                        alert("修改成功");
                        location.href = "/WD/Index";
                    }
                    else {
                        alert("修改失败");
                        return;
                    }
                }
            })
        }
    </script>
</head>
<body>
    <h2 style="text-align:center">员工修改</h2>
    <br />
    <br />
    <div class="layui-form" style="float:left;width:70%;margin-left:200px">
        <span>
            <input type="button" value="返回首页" class="btn btn-outline-primary" onclick="GoIndex()" style="float:right" />
        </span>
    </div>
    <br />
    <br />
    <div id="Upt">
        <div class="layui-form">
            <table class="table layui-table" style="width:70%;text-align:center;margin-left:200px">
                <tr>
                    <td>员工部门：</td>
                    <td>
                        <select id="Sel_DId">
                            <option value="0">==请选择==</option>
                            <option value="1">总裁办</option>
                            <option value="2">财务部</option>
                            <option value="3">法务部</option>
                            <option value="4">人事部</option>
                            <option value="5">开发部</option>
                            <option value="6">市场部</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>员工姓名：</td>
                    <td>
                        <span class="layui-input-inline">
                            <input id="txt_WName" type="text" class="layui-input" />
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>员工年龄：</td>
                    <td>
                        <span class="layui-input-inline">
                            <input id="txt_WAge" type="text" class="layui-input" />
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="button" value="修改数据" class="btn btn-success" onclick="Upt()" />
                        <input id="txtWId" type="hidden" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
